img {
  width: 100%;
}

.landing {
  position: relative;
  background: url("./img/crypto.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  height: 170vh;
  margin-top: -24px;
  /* margin-bottom: -260px; */
}

.landing-inner {
  padding-top: 80px;
}

.dark-overlay {
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.parent {
  max-width: 1120px;
  margin: 40px auto;
}
h1#crypto__title {
  color: #fff;
  margin-bottom: 40px;
}
h1 span.large__heading__shine {
  color: #67a2ca;
}
h3.white {
  padding: 40px;
  border-radius: 5px;
}

.page-section {
  display: block;
  margin: 200px auto 40px;
  /* max-width: 1120px; */
}
.page-section h2.large-heading { 
  font-size: 42px;
}
.page-section p.secondary-text { 
  font-size: 22px;
}
.profile-bg { 
  background: url("https://media-prod.ii.co.uk/s3fs-public/2019-01/crypto%20currency.jpg") no-repeat center center/cover;
}
.card-form {
  opacity: 0.9;
}

.latest-profiles-img {
  width: 40px;
  height: 40px;
}

.form-control::placeholder {
  color: #bbb !important;
}

footer {
  display: block;
}
